.full_div {
    // width: 100vw;
    // height: 100vh;
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_div {
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    min-width: 400px;
}

/* style inputs and link buttons */
input,
.btn {
    border: none;
    border-radius: 4px;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    /* remove underline from anchors */
}

.btn:hover {
    opacity: 1;
    color: white;
}

.authform {
    padding-top: 30px;
    max-width: 320px;
    margin: 0 auto;

    form {
        padding-bottom: 40px;
    }

    .form-group {
        margin-top: 20px;
    }

    .right {
        float: right !important;
    }

    .row {
        padding-left: 7px;
        padding-rightt: 7px;
        margin: 10px 0px;
    }

    .col {
        flex-grow: 1;
        margin: 10px 0px;
    }

    .action {
        .btn {
            margin: 15px 15px;
        }
    }
}

.flex_div {
    display: flex;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
    background-color: #3B5998;
    color: white;
    margin-bottom: 10px;
}

.twitter {
    background-color: #55ACEE;
    color: white;
}

.google {
    background-color: #dd4b39;
    color: white;
}

select {
    border-color: $blue;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    border-radius: 0px;
}
