// Variables for site wide style sheets
// 
// 
/* ===========================================* || COLOR VARIABLES || ===========================================*/

$blue: #1e22aa;
$green: #4d827d;
$white: #fcfcfc;
$orange: #fc6808;
