// Variables for site wide style sheets
// 
// 
/* ===========================================* || COLOR VARIABLES || ===========================================*/

$blue: #3267c7;
$green: #4d827d;
$white: #fcfcfc;
$orange: #fc6808;